@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  max-width: 69.375rem;
  margin: 0 auto 2rem;
  padding: 0 $sides-small;

  @include responsive(tablet) {
    margin-bottom: 3.5rem;
    padding: 0 $sides-medium;
  }

  @include responsive(desktop) {
    margin-bottom: 4rem;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-logo {
      @include outlineFocus;

      .logo {
        height: 3rem;

        @include responsive(tablet) {
          height: 4rem;
        }
      }
    }
  }
}
