@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  margin: 1rem auto 2rem;
  padding: 0 $sides-small;
  max-width: 69.375rem;

  @include responsive(tablet) {
    margin: 2rem auto 4rem;
    padding: 0 $sides-medium;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-logo {
      @include outlineFocus;

      .logo {
        height: 3rem;

        @include responsive(tablet) {
          height: 4rem;
        }
      }
    }
  }
}
